* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
}

.navbar {
  background-color: #212121;
  padding: 14px 70px;
  list-style: none;
  overflow: hidden;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  z-index: 1;
}

.menu_item {
  display: block;
  margin: 0 auto;
  height: 20px;
  border-right: 3px dotted #000;
  padding-right: 60px;
}

.menu_link {
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
}

.subheader {
  background: rgba(0, 0, 0, 0.6);
  height: 87px;
  width: 100%;
  position: absolute;
  top: 48px;

  /* z-index: 2;  для 2 способу */
  /* position: relative; */
  /* transform: translateY(-84px); -84 бо висота navbar 84рх */
}

.logo {
  display: block;
  max-width: 100%;
  margin-top: 19px;
}

.logo_text {
  font-weight: 100;
  font-size: 13px;
  color: #ffffff;
  margin-top: 5px;
}

.subheader_text {
  margin-top: 24px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #ffffff;
}

.subheader_phone {
  display: block;
  margin-top: 9px;
  text-align: right;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  &:hover {
    color: #ffffff;
    cursor: pointer;
  }
}

.subheader_btn {
  margin-top: 20px;
  border: none;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#1eacc7),
    to(#4ce2ff)
  );
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 16px 20px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.info {
  /* другий спосіб щоб зробити прозорий navbar */
  /* z-index: 1; */
  min-height: 550px;
  background: url("../img/uber_bg.png") center (center / cover) no-repeat;
  padding: 67px 0 86px 0;
}

.info_header {
  margin-top: 120px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.info_subheader {
  font-weight: 700;
  line-height: 34px;
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.info_descr {
  margin-top: 26px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.info_btn {
  display: block;
  margin: 0 auto;
  margin-top: 136px;
  padding: 24px 40px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#1eacc7),
    to(#4ce2ff)
  );
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reasons {
  padding: 18px 0 64px 0;
}

.label {
  margin: 0 auto;
  width: 113px;
  height: 24px;
  font-weight: 400;
  font-size: 11px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000;
}

.title {
  margin-top: 23px;
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 16px;
}

.reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 25px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons_descr {
  width: 343px;
}

.reasons_subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1eacc7;
}

.reasons_text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}
.subtitle {
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
}

.card {
  min-width: 400px;
  min-height: 260px;
  &-1 {
    background: url("../img/card/card-1.png") center center/cover no-repeat;
  }
  &-2 {
    background: url("../img/card/card-2.png") center center/cover no-repeat;
  }
  &-3 {
    background: url("../img/card/card-3.png") center center/cover no-repeat;
  }
  &-4 {
    background: url("../img/card/card-4.png") center center/cover no-repeat;
  }
  &-5 {
    background: url("../img/card/card-5.png") center center/cover no-repeat;
  }
  &-6 {
    background: url("../img/card/card-6.png") center center/cover no-repeat;
  }
}
.mobile {
  min-height: 864px;
  padding: 46px 0 77px 0;
  background: rgb(162, 162, 162) url("../img/mobile_bg.jpg") center center/cover
    no-repeat;
}
.mobile_box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mobile_text {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.mobile_btn {
  position: absolute;
  top: 80%;
  bottom: 35px;
  width: 23px;
  height: 23px;
  background: linear-gradient(#1eacc7, #1eacc7),
    linear-gradient(#1eacc7, #1eacc7), #000;
  background-position: center;
  background-size: 50% 2px, 2px 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  // 2 варіант
  // bottom: 35px;
  // left: 50%;
  // transform: translateX(-50%);
  &:hover {
    cursor: pointer;
  }
}
.choice {
  padding: 56px 0px 138px 0;
  background-color: grey;

  // background: #070716 url('../img/car.png') center center/cover no-repeat;
}
.white-text {
  color: #fff;
}
.label-2 {
  background: #ffffff;
  color: #070716;
}
.choice {
  background: url("../img/bg-car.png") center center/cover no-repeat;
}
.choice-car {
  display: block;
  margin: 0 auto;
  margin-top: 54px;
  width: 759px;
  height: 480px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.choice_text {
  text-align: center;
  color: #222222;
  font-weight: 100;
  font-size: 17px;
  line-height: 24px;
}
.required {
  padding: 68px 0 87px 0;
  &_block {
    margin: 33px 0;
    &_nmb {
      margin-bottom: 0px;
    }
  }
  &_title {
    font-weight: 400;
    font-size: 22px;
    color: #1ca8c3;
  }
  &_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 22px;
    li {
      font-weight: 300;
      font-size: 17px;
      color: #222222;
      line-height: 24px;
      margin-top: 10px;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: -32px;
        top: 2px;
        width: 21px;
        height: 20px;
        background: url("../img/icon-blue.svg") center center/cover no-repeat;
      }
    }
  }
  &_descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #1ca8c3;
    margin-top: 25px;
  }
}
.warning {
  .required_title {
    color: #ff5656;
  }
  .required_list {
    li {
      &::before {
        background: url("../img/icon-red.svg") center center/cover no-repeat;
      }
    }
  }
}
.city {
  min-height: 716px;
  padding: 49px 0;
  background: #080816 url("../img/world-bg.jpg") center center/cover no-repeat;
  position: relative;
  &_descr {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    line-height: 68px;
    color: #1fbad6;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      color: #fff;
      text-decoration: none;
    }
  }
}

.footer {
  padding: 14px 23px 39px 23px;
  &_line {
    width: 299px;
    height: 4px;
    background-color: #1fbad6;
    margin: 0 auto;
  }
  &_wrapper > div {
    width: 33.33%;
  }
  &_wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &_socials {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_item {
      background-color: #000;
      border-radius: 100%;
      width: 32px;
      height: 32px;
      display: flex;
      margin: 0 4px;
      justify-content: center;
      align-items: center;
      &_item img {
        display: block;
        width: 100%;
      }
    }
  }
  &_links {
    width: 390px;
    margin: 0 auto;
    &_main {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      a {
        color: #070716;
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    &_submain {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      a {
        font-weight: 300;
        color: #999;
        font-size: 11px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 22px;
      }
    }
    &_language {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-weight: 400;
      font-size: 11px;
      text-transform: uppercase;
      color: #1fbad6;
      margin-top: 19px;
    }
  }
  &_mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      margin-right: 30px;
      img {
        display: block;
        max-width: 100%;
        height: 32px;
      }
    }
  }
}
